body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

  
.main-card {
  display: flex;
  background-color: rgb(221, 218, 218);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  
  max-width: 600px;

  width: 100%;
   
    box-shadow: 10px, 10px, 10px, rgba(5, 5, 5, 5);
    /* border-radius: 20px; */

    animation-delay: 1s;
    animation-duration: 3s;
    animation-name:slidein;
  /* height: 70vh;  remove this heigh so that all the html element can fit in*/
  /* Added little gape between the two containers */
  gap: 2rem;
}

 @keyframes slidein {
     from {
       margin-left: 300%;
       width: 20%;
     }
   
}

.left-card {
  flex: 2;
  padding: 20px;
  background-color: #3498db;
  color: white;
  width: 100%;
}



.form-card {
  flex: 4;
}
form {
  width: 90%;
}

.form-card label {
  display: block;
  margin-bottom: 10px;
}

.form-card input {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
    outline: none;

}
input {
  width: 100%;
}
input:hover, input:focus{
      outline:  1px solid yellow;

}

.form-card button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.btn_container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.network {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 100%;
  margin: auto auto;
}
.network p{
  text-align:center;
}
.img_container{
  padding: 0  0.5rem ;
}
img {
  /* width: 80%; */
  /* max-width: 22rem; */
width: 100%;
border: 2px solid black;
  /* height: 50%; */
}
@media (max-width: 600px) {
  .main-card {
    flex-direction: column;
    padding: 0 10px;
  }

  .form-card {
    margin: 0 auto;
  }
  .form-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

